#define basebg #171717
#define basefg #d0d0d0
#define base00 #4e4e4e
#define base08 #626262
#define base01 #d68787
#define base09 #d75f87
#define base02 #5f865f
#define base10 #87af87
#define base03 #d8af5f
#define base11 #ffd787
#define base04 #85add4
#define base12 #add4fb
#define base05 #d7afaf
#define base13 #ffafaf
#define base06 #87afaf
#define base14 #87d7d7
#define base07 #d0d0d0
#define base15 #e4e4e4

! all apps
*.background: basebg
*.foreground: basefg
*.color0: base00
*.color8: base08
*.color1: base01
*.color9: base09
*.color2: base02
*.color10: base10
*.color3: base03
*.color11: base11
*.color4: base04
*.color12: base12
*.color5: base05
*.color13: base13
*.color6: base06
*.color14: base14
*.color7: base07
*.color15: base15

! URxvt
URxvt.font: xft:xos4 terminus:pixelsize=16
URxvt.scrollBar: False
URxvt.internalBorder: 8
URxvt.boldFont: xft:xos4 terminus:pixelsize=16:style=Bold




! vim:ft=xdefaults
